th, tr {
    border: 0px solid black;
    padding: 25px;
    border-spacing: 5px;
    text-align: center;
    cursor: pointer;
}

    tr:hover {
        background-color: #80E27E;
    }

#title {
    background-color: #4caf50;
    color: white;
}
.selected {
    background-color: #80E27E;
   
}

