<p>Benvenuto!</p>

<p>Con questa single-page application potrai:</p>
<ul>
    <li><strong>Visualizzare gli studenti</strong>: Potrai visualizzare tutti gli studenti iscritti.</li>
    <li><strong>Visualizzare tutti i corsi</strong>: Potrai visualizzare tutti i corsi da te tenuti.</li>
    <li><strong>Gestire gli appelli</strong>: Porai gestire tutti gli appelli relativi al corso selezionato.</li>
    <li><strong>Registrare i voti</strong>: Potrai registrare la materia alla fine di ogni esame.</li>
    </ul>
